<form>
  <div>
        <app-header></app-header>
        <input type="text" id="name" name="name" value="" placeholder="Name" required><span>*</span><br> 
        <input type="text" id="email" name="email" value="" placeholder="Email" required><span>*</span><br> 
        <label for="problem">Select the problem:</label> 
        <select name="problem" id="problem" name="problem" value="" required>
          <option value="hardware">Hardware</option>
          <option value="software">Software</option>
          <option value="others">Others</option>
        </select><span>*</span><br>

        <label for="textarea">Describe the problem:</label>
        <input type="textarea" id="textarea" name="textarea" rows="6" cols="30"><span>*</span><br> 
    <button id="cancel" type="cancel" class="cancel">Cancel</button>
    <button id="reset" type="reset" class="reset">Reset</button>
    <button id="submit" type="submit" class="formsubmit">Submit</button>
  </div>
  <app-footer></app-footer>





</form>
