form {
  text-align: center;
}

span {
  color: #b91515;
  margin-left: 0.5rem;
}

select {
  margin-left: 5px ;
}

input {
  margin: 5px;
}

button {
  border-radius: 20px;
  background: rgb(61,110,205);
  background: linear-gradient(0deg, rgba(61,110,205,0.008841036414565795) 0%, 
  rgba(174,0,251,0.3449754901960784) 40%);
  border: none;
  margin-left: 10px;
  margin-top: 5px;
}






